<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: currentColor;">
    <a class="navbar-brand" href="#">
        <svg width="16" height="16" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
          <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
        </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://akheelsajjan.github.io/profile/" target="_blank">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/akheel-sajjan-27354b107/" target="_blank">Linked In</a>
        </li>
      </ul>
    </div>
  </nav>

</div>
