<div class="container-fluid">
  <table class="table border">
    <thead>
      <tr>
        <th>Function</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>describe(string, fn)</td>
        <td>Defines a test suite, a logical grouping of tests</td>
      </tr>
      <tr>
        <td>it(string, fn)</td>
        <td>Defines an individual test</td>
      </tr>
      <tr>
        <td>expect()</td>
        <td>Describes the expected behavior</td>
      </tr>
      <tr>
        <td>match</td>
        <td>Performs a Boolean check of expected vs actual</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="container-fluid">
  
    <button class="primary" routerLink="component-test">Test Component</button>

</div>
