<div class="container-fluid">
  <div class="video-container">
    <div class="video-frame">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Issue List</a>
        </div>
      </nav>
      <div class="card">
        <div class="card-body">
          <iframe width="560" height="315" src="https://dms.licdn.com/playlist/vid/C4D05AQGzZWrHMAAQcg/mp4-720p-30fp-crf28/0/1601792968448?e=1685865600&v=beta&t=nX4eXwKB6WLpporlyeBtWiVEPA3Chkl9rUio1JGh2dM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>


      <a href="https://www.linkedin.com/feed/update/urn:li:activity:6718406667614076928/"  target="_blank" type="button" class="btn btn-link">View Details</a>

    </div>
  </div>
</div>
