<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Kanban</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a [routerLink]="['/kanban']" class="btn btn-primary">Navigate</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Wether App</h5>
              <p   class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a [routerLink]="['/weather']" class="btn btn-primary">Check todays weather</a>
            </div>
          </div> 
        </div>
      </div>
</div>

